.proj-div{
    height: 140vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    font-size: 20px;
}
.hover-text h2{
        font-Weight:800;
        font-size: 60px

}


.proj-card{
    position: relative;
    width: 700px;
    cursor: pointer;
    overflow: hidden;
}
.proj-card img{
    width: 100%;
    height: 300px;
    display: block;
    object-fit: cover;
    transition: 0.5s ease;
}
.proj-card:hover img{
    filter: grayscale(100%) brightness(30%);
    
}
.hover-text{
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    font-size: 20px;
    color: #ffa600;
    padding: 2rem;
    opacity: 0;
    transition: 0.5s ease;
}
.proj-card:hover .hover-text{
    opacity: 1;
}

@media(max-width: 420px){
    .hover-text{
        font-size: 12px;
    }
    .hover-text h2{
        font-size: 40px;
    }
}